<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>

<!-- Content Block -->
<div class="container">
    <div class="registration-container">
        <form id="updateRegistrationForm" class="form-container" action="/account/update-user-info" method="post">
            <fieldset>
                <legend>Update User Information</legend>
                <div class="input">
                    <label for="account_firstname">First Name<span class="required">*</span></label>
                    <input
                        type="text"
                        id="account_firstname"
                        name="account_firstname"
                        required
                        value="<%= locals.account_firstname %>"
                    />
                </div>
                <div class="input">
                    <label for="account_lastname">Last Name<span class="required">*</span></label>
                    <input
                        type="text"
                        id="account_lastname"
                        name="account_lastname"
                        required
                        value="<%= locals.account_lastname %>"
                    />
                </div>
                <div class="input">
                    <label for="account_email">Email<span class="required">*</span></label>
                    <input
                        type="email"
                        id="account_email"
                        name="account_email"
                        required
                        value="<%= locals.account_email %>"
                        pattern="^[a-zA-Z0-9._%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
                        title="Enter a valid email address (e.g., user@example.com)"
                        placeholder="Enter your email"
                    />
                </div>
                <div class="submit-button">
                    <button type="submit" disabled>Update Account Information</button>
                </div>
                <input type="hidden" name="account_id" <% if (locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
            </fieldset>
        </form>

        <form id="updatePasswordForm" class="form-container" action="/account/update-user-password" method="post">
            <fieldset>
                <legend>Update User Password</legend>
                <p>Caution! This will update your password. Please enter a secure password.</p>
                <div class="input">
                    <label for="account_password">Password</label>
                    <input
                        type="password"
                        id="account_password"
                        name="account_password"
                        required
                        pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{12,}"
                        title="Password must be at least 12 characters long and include at least one capital letter, one number, and one special character."
                        placeholder="Enter your secure password"
                    />
                    <p>Password must be at least 12 characters long and include:</p>
                    <ul>
                        <li>At least one capital letter</li>
                        <li>At least one number</li>
                        <li>At least one special character</li>
                    </ul>
                    <span id="passWordBtn">Show Password</span>
                </div>

                <div class="submit-button">
                    <button type="submit">Update Account Password</button>
                </div>
                <input type="hidden" name="account_id" <% if (locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
            </fieldset>
        </form>
    </div>
</div>

<script src="/js/account-update.js"></script>
