<!-- **** Delete-Confirm **** -->

<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>

<div class="container">
    <div class="edit-class-container">
        <h4>Confirm Deletion - The delete is permanent.</h4>
        <form id="deleteForm" class="form-container" action="/inv/delete" method="post">
            <div class="input">
                <label for="inv_year">Year</label>
                <input
                    type="text"
                    id="inv_year"
                    name="inv_year"
                    value="<%= locals.inv_year %>"
                    readonly
                />
            </div>
            <div class="input">
                <label for="inv_make">Make</label>
                <input
                    type="text"
                    id="inv_make"
                    name="inv_make"
                    value="<%= locals.inv_make %>"
                    readonly
                />
            </div>
            <div class="input">
                <label for="inv_model">Model</label>
                <input
                    type="text"
                    id="inv_model"
                    name="inv_model"
                    value="<%= locals.inv_model %>"
                    readonly
                />
            </div>

            <div class="input">
                <label for="inv_price">Price</label>
                <input
                    type="text"
                    id="inv_price"
                    name="inv_price"
                    value="<%= locals.inv_price %>"
                    readonly
                />
            </div>

            <div class="submit-button">
                <button type="submit" class="delete">Delete Vehicle</button>
            </div>
            <input type="hidden" name="inv_id" <% if (locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
        </form>
    </div>
</div>
